.navr h2{
    text-align:center;
    text-indent: -110px;
    font-size:35px;
    color:rgb(5, 122, 158);
}
.navr h1{
    text-align:center;
    text-indent: -110px;
    font-size:80px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(5, 122, 158);
    padding:20px 0;
}
.imga{
    position:fixed;
    display:block;
    width:300px;
    height:300px;
    float: inherit;
    margin:0 auto;
    top:-64px;
    left:-16px;
    z-index: 999;
}
.jieshao p{
    font-weight: 600;
    font-size:50px;
    color:rgb(5, 122, 158);
}
.navr .jieshao{
    display:block;
    margin-left:100px;
    margin-top:50px;
}
.navr ul li{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    margin-top: 20px;
}
.navr ul li b{
    margin-left:80px;
    font-size: 30px;
    color: rgb(75, 158, 126);
}
.navr ul li span{
    margin-left:120px;
    font-size: 20px;
    color: rgb(10, 169, 174);
    margin-top: 20px;
}

 @-webkit-keyframes rotation{
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

.navr img{
    -webkit-transform: rotateY(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}




/*aboutUs*/
.aboutUs{
    height: 500px;
    width:70%;
    margin: 100px auto 0;
    /*border: 1px solid #000;*/
    display: -webkit-flex;
}
.imgU{
    display: block;
}
.forUs{
    flex: 1;
    /*background-color: #fff;*/
}
.forUs h1{
    font-size: 36px;
    color: rgb(10, 169, 174);
    margin: 50px;
    font-style: italic;
}
.forUs p{
    text-align: left;
    margin-left: 50px;
    font-size: 24px;
    line-height: 60px;
    text-indent: 48px;
    color: rgb(10, 169, 174);
}
.forUs p:last-child{
    text-indent: 96px;

}