html{
    font-size: 26.67vw;
}
body{
    background: #f2f2f2;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction:column;
}
/* header */
.header{
    position: relative;
    width: 100%;
    height: .43rem;
    background: white;
    border-bottom: 1px solid #dcdcdc;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
}
.header img:first-child{
    position: absolute;
    left: .15rem;
    top: .13rem;
    width: .11rem;
    height: .19rem;
}
.header img:last-child{
    width: .75rem;
    height: .2rem;
}
/* nav */
.nav{
    height: .57rem;
    background: #ff342d;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
}
.nav a{
    width: 20%;
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.nav a img{
    width: .34rem;
    height: .21rem;
    margin: .07rem auto .08rem;
}
.nav a span{
    font-size: .15rem;
    color: white;
    text-align: center;
    line-height: .15rem;  
}
.nav .nav_bg{
    background: #cd0031;
}
/* section */
.section{
    width: 100%;
    -webkit-box-sizing: border-box;
    padding: 0 .1rem;
    flex: 1;
    overflow-y: auto;
}
.section_con{
    width: 100%;
}
.item{
    height: 2.2rem;
    background: white;
    border-radius: .03rem;
    margin-top: .1rem;
}
.item_tit{
    width: 100%;
    height: .4rem;
    font-size: .16rem;
    color: #333333;
    line-height: .4rem;
    text-indent: .07rem;
    font-weight: bolder;
    margin-bottom: .05rem;
}
.item_body{
    width: 100%;
    -webkit-box-sizing: border-box;
    padding: 0 .08rem ;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
}
.item_body a img{
    width: 1.1rem;
    height: 1.1rem;   
}
.item_body a p{
    width: .29rem;
    font-size: 9px;
    color: #a5a5a5;
    font-weight: bolder;
    display: -webkit-flex;
    margin-left: .38rem;
    margin-bottom: .15rem;   
}
.item_body a h3{
    width: 40%;
    height: .17rem;
    background: #ffedef;
    border: 1px solid #ff2a57;
    border-radius: .02rem;
    line-height: .17rem;
    text-align: center;
    font-size: .1rem;
    color: #fe053a;
    margin: .1rem auto;
}
.item_body a h3 i{
    font-style: normal;
}
.item_body .prices{
    margin-top: .38rem;
}
.item_other{
    width: 100%;
    height: 3.56rem;
    background: white;
    margin-top: .1rem;
    -webkit-box-sizing: border-box;
    padding: .06rem .06rem 0;
    border-radius: .03rem;
}
.imgShow{
    position: relative;
    height: 1.69rem;
}
.imgShow img{
    width: 100%;
    height: 1.69rem;    
}
.imgShow i{
    position: absolute;
    left: 0;
    top: 0;   
    display: block;
    width: 100%;
    height: 1.69rem;
    background: rgba(0,0,0,.2);
}
.imgShow h3{
    position: absolute;
    left: .3rem;
    bottom: .22rem;
    font-size: .19rem;
    color: white;
}
.imgShow p{
    position: absolute;
    top: .05rem;
    right: .11rem;
    width: .5rem;
    height: .25rem;
    -webkit-box-sizing: border-box;
    border: 1px solid white;
    background: #a3a3a3;
    border-radius: .04rem;
    font-size: 14px;
    color: white;
    font-weight: bold;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.imgShow:after{
    position: absolute;
    left: 1.7rem;
    bottom: -1px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: white;
}
.imgListDetail{
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    margin-top: .05rem;
}
.imgListDetail a img{
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: .15rem;
}
.imgListDetail a h3{
    font-size: 12px;
    color: #666666;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
.imgListDetail a p{
    font-size: 9px;
    color: #a5a5a5;
    display: -webkit-flex;
    -webkit-justify-content: center;
    margin-top: .12rem;
}
/* footer */
.footer{
    width: 100%;
    height: .5rem;
    background: white;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;    
}
.footer a{
    width: 20%;
}
.footer a img{
    width: .35rem;
    height: .32rem;
    margin: 0 auto;   
}
.footer a span{
    font-size: .1rem;
    color: #222530;
    line-height: .15rem;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
