@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,,input,select,textarea,td{
	margin:0;
	padding:0;
	background: #f4f4f4;
}
html{
	font-size:27.78vw;
}
html,body{
	height: 100%;
}
body{
	font-family:"微软雅黑";
	/*background: #f5f5f9;*/
	display: -webkit-flex;
	/*-webkit-flex-direction:column;*/
	flex-direction: column;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
/*header*/
.help{
	width: 100%;
	height:.47rem;
	/*background:#ffffff; */
}
.help img{
	width: .176rem;
	height:.167rem;
	margin: .167rem;
}
.help span{
	font-size:.15rem;
	color: #06c1ae;
	display: block;
	float: right;
	margin: -.33rem 0.2rem;
}
/*nav*/
.welcome{
	width:100%;
	height:1.186rem;
}
.welcome span{
	display: block;
	font-size:.27rem;
	color: #414244;
	font-weight: bold;
	line-height:1.186rem;
	margin-left:.43rem;
}
/*hgroup*/
.hgroup{
	width:100%;
	height:2.15rem;
	/*background: red;*/
}
.shuru{
	width: 2.753rem;
	height:.44rem;
	/*background:blue;*/
	margin: .193rem auto;
	border-bottom:1px solid #b6b6b6;
}
.shuru span{
	font-size: .13rem;
	display: block;
	line-height: .44rem;
}
.shuru img{
	width: .13rem;
	height: .13rem;
	margin-top: -.27rem;
    margin-left: 0.33rem;
}
.shuru .btn{
	display: block;
	border:0;
	outline: none;
	margin-top: -0.21rem;
    margin-left: .6rem;
    height: 0.27rem;
    /*text-indent: .1rem;*/
}
input::-webkit-input-placeholder{
 	color:#cccccc;
 	font-size: .17rem;
 	line-height: .27rem;
}
.zhuce{
	width:2.75rem;
	height:.434rem;
	display: block;
	/*background: gray;*/
	margin: -.2rem auto;
}
.zhuce span{
	display: block;
	font-size: .13rem;
	color: #999999;
	line-height: .434rem;
}
.yanzheng{
	width:2.75rem; 
	height: .47rem;
	border-radius:25px;
	background:#b1f2ee;
	margin: .26rem auto;
}
.yanzheng a{
	font-size: .15rem;
	color: #fcffff;
	line-height: .47rem;
	text-align: center;
	display: block;
	margin: .276rem auto;
}
.pass{
	width:100%;
	height:.46rem;
	/*background: red;*/
}
.pass a{
	font-size: .13rem;
	color: #585858;
	display: block;
	line-height: .44rem;
	margin-left: .46rem;
	margin-top: -0.21rem;
}
/*section*/
.section{
	width:100%;
	height:1.74rem;
	/*background: red;*/
}
.weixin{
	width: 100%;
	height:.546rem;
	/*background: gray;*/
	margin-top: 1.21rem;
}
.Microletter{
	width:.55rem;
	height: .55rem;
	margin-left: 0.9rem;
	float: left;
}
.qq{
	width:.55rem;
	height: .55rem;
	margin-left: 0.9rem;
	float: left;
}
/*footer*/
.footer{
	width: 100%;
	height:.85rem;
	/*background:red;*/
}
.footer span{
	display: block;
	font-size:.11rem;
	color: #757575;
	line-height: .85rem;
    margin-left: .7rem;
}
.footer a{
	display: block;
	font-size:.11rem;
	color: #05c2ae;
	    margin-top: -.5rem;
    margin-left: 1.65rem;
}