body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
html{
	font-size: 26.67vw;
}
html,body{
	height: 100%;
}
body{
    font-family:"微软雅黑";
    background: #f4f4f4;
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
/* header */
header{
    width:100%;
}
.head{
    height:.44rem;
    background:#fff;
    display:-webkit-flex;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}
.head p{
    font-size:.2rem;
    margin-left: 1.61rem;
}
.head span{
    font-size:.16rem;
    color:#b4282d;
    margin-left: .97rem;
}
/* section */
section{
    width:100%;
    -webkit-flex:1;
	overflow-y: auto; 
}
.text{
    width:3.73rem;
    height:.16rem;
    margin:.09rem auto 0;
}
.text img{
    height:.16rem;
}
.shopCar{
    width:1.4rem;
    margin:2.06rem auto 0;
}
.shopCar img{
    height:1.4rem;
}
section a{
    display: block;
    width:1.37rem;
    height:.32rem;
    background: #b4282d;
    color:white;
    font-size: .15rem;
    padding-top: .15rem;
    padding-left: 1.03rem;
    margin:.1rem auto 0;
}
/* footer */
footer{
	width:100%;
    height:.54rem;
    background: #fff;
    border-top:1px solid #d9d9d9;
	display:-webkit-flex;
	-webkit-align-items:center;
}
footer a{
	-webkit-flex:1;
	text-align: center;
}
footer a img{
	width:.2rem;
	height:.2rem;
	margin:0 auto .06rem;
}
footer a span{
	font-size: .12rem;
	color:#9f9f9f;
	display:block;
}
