@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
    margin:0;
    padding:0;
}
html{
    font-size: 27.78vw;
}
html,body{
    height: 100%;
}
body{
    font-family:"微软雅黑";
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img{
    border:0;
    display: block;
}

/*header*/
header{
    width: 100%;
    height: 2.16rem;
    background: #ffffff;
    margin-bottom: .08rem;
}
.header-One{
    height: .53rem;
    color: #000000;
    font-size: .14rem;
    font-weight: 600;
    display: -webkit-flex;
    -webkit-align-items: center;
}
.header-One a{
    width: .31rem;
    height: .31rem;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    margin: 0 .08rem;
}
.header-One img{
    width: .13rem;
    height: .13rem;

}
.header-Two{
    width: 100%;
    height: 1.02rem;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.header-Two a{
    font-size: .14rem;
    color: #1e82ff;
}
.header-Two a img{
    width: .59rem;
    height: .59rem;
    margin: .06rem 0 .13rem;
}
.header-Three{
    height: .61rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-Three a{
    display: flex;
}
.header-Three a img{
    width: .21rem;
    height: .22rem;
}
.header-Three a span{
    color: #000000;
    font-size: .13rem;
}
.header-Three1 img{
    margin:0  .08rem 0 .48rem;
}
.header-Three1,.header-Three2{
    width: 50%;
    height: 100%;
}
.header-Three1 a ,.header-Three2 a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-Three2 img{
    margin:0  .08rem 0 .48rem;
}
/*section*/
section{
    width: 100%;
    height: .56rem;
    background: #ffffff;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    margin-bottom: .08rem;
}
section a{
    height: 100%;
    color: #231815;
    font-size: .13rem;
    display: flex;
    -webkit-align-items: center;
}
.section-a{
    width: .24rem;
    height: .24rem;
    margin: 0 .08rem 0 .12rem;
}
.section-b{
    width: .45rem;
    height: .45rem;
    display: flex;
    justify-content: center;
}
.section-b img{
    width: .12rem;
    height: .12rem;
}
.section-02{
    width: 100%;
    background: #ffffff;
    margin-bottom: .08rem;
}
.section-02 a{
    width: 100%;
    height: .56rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    color: #000000;
    font-size: .13rem;
    border-bottom: 1px solid #e1e1e1;
}
.section-02 a span{
    margin-left: .13rem;
}
.section-02 a img{
    width: .07rem;
    height: .12rem;
    margin-right: .20rem;
}
.flex-1{
    -webkit-flex: 1;
    overflow-y: auto;
}